<template name="addQuestion">
            <form id="newQuestion">
            <p>Your Question:</p>
            <input type="text" name="QuestionString" placeholder="Add new Question"/>
            <p>Your Question Type:</p>
<div class="radio">
  <label><input type="radio" name="type" checked="true" value="Open">Open Question</label>
</div>
<div class="radio">
  <label><input type="radio" name="type" value="MultipleChoice">Multiple Choice Question</label>
</div>
            <input type="submit" value="Create Question">
    </form>
    <button id="cancel">Cancel</button>
</template>
