<template name="DetailLayout"> 
<button id="back">Back</button>
        <div class="container">
        <div class="col-md-12">
                <button id="createQuestion"><span class="btn btn-info btn-lg"><span class="glyphicon glyphicon-plus"></span></span> New Question</button>
            {{> Info}}
            {{#if newQuestion}}
            {{> addQuestion}}
            {{/if}}
            <hr>
            {{> QuestionOverview}}

        </div>
        </div> 
</template>

<template name="Info">
{{#each presentation}}
<h1>Name: {{name}}</h1>
{{/each}} 
</template>

<template name="QuestionOverview">
    <h1>Questions</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped">
                        <thead>
                            <th>Question</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </thead>
                        <tbody> 
                            {{#each Questions}}
                            <tr>
                                <td>{{QuestionString}}</td>
                                <td><p title="Edit"><button class="btn btn-primary btn-xs" id="edit"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                                <td><p title="Delete"><button class="btn btn-danger btn-xs" id="delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                            </tr>
                            {{/each}} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="AddQuestion">
<p>Your question:</p>
            <form id="AddQuestion">
                <input type="text" class="form-control" id="QuestionString">
                <input type="submit" value="Add Question">
            </form>
</template>
<template name="QuestionTypes">
            <div class="row" id="questiontype">
                <button type="button" class="btn btn-primary" id="MultipleChoice">Multiple choice</button>
                <button type="button" class="btn btn-primary" id="Open">Open question</button>
            </div>
</template>

<template name="Answers">
    {{#if MultipleChoice}}
            <p>Answers</p>
            <div class="row">            
                <input type="text" placeholder="Answer 1">
            <button type="button" class="addAnswer btn btn-primary" id="AddAnswer">+ Add Answer</button>
            </div>
        {{/if}}
       
</template>