<template name="DetailLayout"> 
<button id="back">Back</button>
        <div class="container">
        <div class="col-md-12">
            {{> Info}}
            {{> QuestionTypes}}
            {{> Question}}
            {{> Answers}}
        </div>
        </div> 
</template>

<template name="Info">
{{#each presentation}}
<h1>Name: {{name}}</h1>
{{/each}} 
</template>

<template name="QuestionTypes">
            <div class="row" id="questiontype">
                <button type="button" class="btn btn-primary" id="MultipleChoice">Multiple choice</button>
                <button type="button" class="btn btn-primary" id="Open">Open question</button>
            </div>
</template>
<template name="Question">
            <div class="row">
                <p>Your question:</p>
            <form id="AddQuestion">
                <input type="text" class="form-control" id="QuestionString">
                <input type="submit" value="Add Question">
            </form>
            </div>
</template>

<template name="Answers">
    {{#if MultipleChoice}}
            <p>Answers</p>
            <div class="row">            
                <input type="text" placeholder="Answer 1">
            <button type="button" class="addAnswer btn btn-primary" id="AddAnswer">+ Add Answer</button>
            </div>
        {{/if}}
       
</template>