<template name="QuestionLayout">
<button id="back">Back</button>
{{> loginButtons}}
{{#if currentUser}}
{{> Name}}
{{> EditQuestion}}
{{else}}
<p>Please login</p>
{{/if}}
</template>

<template name="Name">
        {{#each question}}
        <h1>
{{QuestionString}}
    
    <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-primary btn-xs" id="editName"  data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-pencil"></span></button>   </h1>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Question name</h4>
      </div>
      <div class="modal-body">
        <form id="newQuestionName">
          <input id="newQuestionString" class="form-control" autocomplete="off" name="string" type="text">
            <button type="submit" id="ok" class="btn btn-success">OK</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
    
 {{/each}}
</template>

<template name="EditQuestion">
    <form id="updateQuestion">
    <label>
        <input type="radio" name="type" id="radioOpen" value="Open"><img src="/img/open-question-icon.png" width="50px" height="50px">
    </label>
        
    <label>
    <input type="radio" name="type" id="radioMultiple" value="Multiple"><img src="/img/multiplechoice-question-icon.png" width="50px" height="50px">
    </label>
    
    {{#if MultipleChoiceSelected}}
        <div class="col-md-6" id="choice">
        <button type="button" id="addOption" class="btn btn-primary">+ Add Option</button>
        <ul>
        {{#each option}}
            <li><input name="Option" data-id="{{this._id}}" autocomplete="off" value={{AnswerString}} type="text" placeholder="Answer Option" class="answerOption"></li><button type="button" id="deleteOption" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>   
        {{/each}}
        </ul>
        
    </div>
    {{/if}}
    <button type="submit" id="submitQuestion" class="btn btn-success">Save</button>
    </form>

</template>
