<template name="myPresentations">
{{#if presentations.count}}
<div class="container">
	<div class="row">    
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                   <thead>
                    <th>Name</th>
                    <th>Date created</th>
                    <th>Start</th>
                    <th>Edit</th>
                    <th>Delete</th>
                   </thead>
                <tbody>
                    {{#each presentations}}
                        <tr>
                            <td><form id="new-name"><input type="text" value="{{name}}" id="name" name="newName"  {{toggleDisabled}}></form></td>
                            <td>{{dateCreated}}</td>
                            <td><p title="Start"><button class="btn btn-primary btn-xs" id="start"><span class="glyphicon glyphicon-play-circle"></span></button></p></td>
                            <td><p title="Edit"><button class="btn btn-primary btn-xs" id="edit"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                            <td><p title="Delete"><button class="btn btn-danger btn-xs" id="delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                        </tr>
                    {{/each}}
                </tbody>     
            </table>
        </div>
    </div>
    </div>
</div>
{{else}}
   <p>No presentations exist. Create one to get started.</p>
{{/if}}
</template>
    
    
    
    
    
    
    
    
    
    
    
    
    
  <!--  
<ul>
    {{#each presentations}}
    <li>
    {{name}}
    </li>

    </ul>
    {{else}}
    <p>Please log in</p>
    {{/if}}
</template>-->