<template name="TeacherMain">

<head>
  <title>Presentation</title>
</head>

<body>
    <h2 class="page-header text-center">Welcome to Presentation, {{currentUser.services.google.name}}!</h2>
    {{#if currentUser}}
    {{> user}}
    {{else}}
    <p class="text-center">Please log in to continue</p>
    {{/if}}
    
    {{#if currentUser}}
    {{> addPresentation}}
    <h1 class="page-header text-center" style="margin-top: 50px;">{{currentUser.services.google.name}}'s presentations</h1>
    {{> dashboard}}
    {{/if}}
    {{> loginButtons}}
</body>

</template>