<template name="DetailLayout"> 
{{> Template.dynamic template=detail}} 
</template>

<template name="DetailQuestion">
{{> Template.dynamic template=questiondetail}}
</template>

<template name="detailPresentation">
    <button id="back">Back</button> {{#each presentation}}
    <div class="container">
        <div class="col-md-12">
            <h1>Presentatie: {{name}}</h1>
            <div class="row">
                <input type="text" class="form-control" id="question"> </div>
            <div class="row">
                <button type="button" class="btn btn-primary" id="MultipleChoice">Multiple choice</button>
                <button type="button" class="btn btn-primary" id="Open">Open question</button>
            </div>
        </div>
    </div> {{/each}} 
</template>


<template name="MultipleChoice">
    <p>This is multiplechoice</p>
</template>
<template name="Open">
    <p>This is open</p>
</template>