<template name="StudentLayout">
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <div class="row main">
                <div class="panel-heading">
                   
                    <div class="panel-title text-center">
                        <h1 class="title">Presentation</h1>
                        <hr /> 
                    </div>
                </div>
                
                <div class="main-login main-center">
                    <form class="form-horizontal" method="post" action="#" id="formAccesKey">
                        <div class="form-group">
                            <label name="name" class="cols-sm-2 control-label">Acces code</label>
                            <div class="cols-sm-10">
                                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Acces code" /> </div>
                            </div>
                        </div>
                        
                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Start</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>


<template name="AnswerStudentLayout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{currentQuestion.QuestionString}}
            </div>
            {{#if IsOpen}}
            <div class="col-md-12">
                <form class="form-horizontal" id="formAnswer">
                        <div class="form-group">
                            <div class="cols-sm-10">
                                <div class="input-group"> <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input type="text" class="form-control" name="answer" placeholder="Your answer" /> </div>
                            </div>
                        </div>
                        
                        <div class="form-group ">
                            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">submit</button>
                        </div>
                        
                    </form>
            </div>
            {{else}}
            <div class="col-md-12">
                <form action="">
                 {{#each allAnswersOptions}}
                  <input type="radio" name="radAnswer" value="AnswerOptionString">{{AnswerOptionString}}<br>
                {{/each}}
                </form>
            </div>
            {{/if}}
        </div>
    </div>
</template>