<template name="addPresentation">
    {{#if currentUser}}
    <!-- Trigger the modal with a button -->
    <button id="createPresentation" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span>Presentation</button>
    
    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Presentation name</h4>
      </div>
      <div class="modal-body">
        <form id="newPresentationName">
          <input id="newPresentationString" class="form-control" autocomplete="off" name="name" type="text">
            <button type="submit" class="btn btn-success" id="ok">OK</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
    {{/if}}
</template>
