<template name="ShowPresentationTeacher">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-5">
            <h1>Access code: {{RoomData.AccessCode}}</h1>
            {{currentQuestion}}
            </div>
        </div>
        <div style="float:left;">
            <button type="button" class="btn btn-primary btn-lg" id="left">
                <span class="glyphicon glyphicon-arrow-left">    </span>
            </button>
        </div>
        <div style="float:right">
            <button type="button" class="btn btn-primary btn-lg" id="right">
                <span class="glyphicon glyphicon-arrow-right">    </span>
            </button>
        </div>
        <div>

        </div>
    </div>
</template>