<template name="ShowPresentationTeacher">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-5">
            {{#each presentation}}
            <h1>{{AccessCode}}</h1>
            {{/each}}
            </div>
        </div>
        <div style="float:left;">
            <button type="button" class="btn btn-primary btn-lg" id="left">
                <span class="glyphicon glyphicon-arrow-left">    </span>
            </button>
        </div>
        <div style="float:right">
            <button type="button" class="btn btn-primary btn-lg" id="right">
                <span class="glyphicon glyphicon-arrow-right">    </span>
            </button>
        </div>
        <div>
        
        <table class="table">
            <tbody>
                {{#with question}}
                <tr>{{question.QuestionString}}</tr>
                {{/with}}
            </tbody>
            
        </table>
        
        </div>
    </div>
</template>