<template name="DetailLayout"> 
    
    {{#if currentUser}}
<button type="button" class="btn btn-primary btn-lg text-center" id="back" style="margin: 5px;">Back</button>
        <div class="container">
        <div class="col-md-12">
            {{> Info}}
               <div class="text-center">
                <button id="createQuestion" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span>
                New Question</button>
                 </div>
            
            {{#if newQuestion}}
            {{> addQuestion}}
            {{/if}}
            <hr>
            
            {{> QuestionOverview}}

        </div>
        </div> 
    {{else}}
    <p>Login</p>
    {{/if}}
    {{> loginButtons}}
</template>

<template name="Info">
{{#each presentation}}
<h2 class="text-center">{{name}}    <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-primary btn-sm" id="editName"  data-toggle="modal" data-target="#myModal">Edit <span class="glyphicon glyphicon-pencil"></span></button></h2>
 
    
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Presentation name</h4>
      </div>
      <div class="modal-body">
        <form id="newPresentationName">
          <input id="newPresentationString" class="form-control" autocomplete="off" name="name" type="text">
            <button type="submit" id="ok" class="btn btn-success">OK</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
{{/each}} 
</template>

<template name="QuestionOverview">
    {{#if Questions.count}}
    <h1>Questions</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped">
                        <thead>
                            <th>Question</th>
                            <th>Type</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </thead>
                        <tbody> 
                            {{#each Questions}}
                            <tr>
                                <td>{{QuestionString}}</td>
                                <td>{{Type}}</td>
                                <td><p title="Edit"><button class="btn btn-primary btn-xs" id="edit"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                                <td><p title="Delete"><button class="btn btn-danger btn-xs" id="delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                            </tr>
                            {{#if editQuestion}}
                            <tr>
                                <td>edit the question</td>
                            </tr>
                            {{/if}}
                            {{/each}} 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <p class="text-center">No questions exist. Create one to get started.</p>{{/if}}
</template>

