<template name="QuestionLayout">
<button type="button" class="btn btn-primary btn-lg text-center" id="back" style="margin: 5px;">Back</button>

{{#if currentUser}}
{{> Name}}
{{> EditQuestion}}
{{else}}
<p>Please login</p>
{{/if}}
{{> loginButtons}}
</template>

<template name="Name">
        {{#each question}}
    <div class="text-center">
        <h2>{{QuestionString}}
        <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-primary btn-sm" id="editName"  data-toggle="modal" data-target="#myModal">Edit <span class="glyphicon glyphicon-pencil"></span></button>   
        
        </h2>
    </div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New Question name</h4>
      </div>
      <div class="modal-body">
        <form id="newQuestionName">
          <input id="newQuestionString" class="form-control" autocomplete="off" name="string" type="text">
            <button type="submit" id="ok" class="btn btn-success">OK</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
    
 {{/each}}
</template>

<template name="EditQuestion">
    <div class="text-center">
    {{currenttype}}
    <form id="updateQuestion">
    <div class="text-center">
    <label>
        <input type="radio" name="type" id="radioOpen" value="Open" class="radiobutton">Open Question
    </label>
        </div>
    <div class="text-center">    
    <label>
    <input type="radio" name="type" id="radioMultiple" value="MultipleChoice" class="radiobutton">Multiple Choice Question
    </label>
        </div>
    {{#if MultipleChoiceSelected}}
        <div id="choice">
        <div class="text-center">
        <button style="margin: 5px;" type="button" id="addOption" class="btn btn-primary">+ Add Option</button>
        </div>
        {{#each option}}
           <div class="text-center">
            <input name="Option" data-id="{{this._id}}" autocomplete="off" value={{AnswerOptionString}} type="text" placeholder="Answer Option" class="answerOption">
            </div>
            <button type="button" id="deleteOption" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button>   
            {{/each}}
    </div>
    {{/if}}
    <div class="text-center">
    <button type="submit" id="submitQuestion" class="btn btn-success">Save</button>
    </div>
    </form>
    </div>

</template>
